.section4 {
	width: 100%;
	height: 100%;
  .backImg {
    background-image: url("imgs/banner_image.jpg");
    min-height: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
